<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="../Css/style-contactUs.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="container_top_nav">
            <div class="top_nav">
                <a href="#" onclick="onCLickDisplayAddress()">
                    <div class="address">
                        <i class='bx bx-location-plus'></i>
                        <p>Địa chỉ</p>
                        <i class='bx bxs-down-arrow'></i>
                    </div>
                </a>
                <div class="select_deliver" style="cursor: pointer;">
                    <div class="select-wrap">
                        <i class='bx bxs-car'></i>
                        <p>Phương thức giao hàng</p>
                        <i class='bx bxs-down-arrow'></i>
                    </div>
                    <ul class="dropdown-deliver" style="display: none;">
                        <li> <img src="../Media/img/delivery-man.png" alt="">Xe máy
                        </li>

                        <li> <i class="bx bxs-car"></i>Xe Ô Tô
                        </li>

                        <li> <i class="bx bxs-plane-alt"></i>máy bay
                        </li>

                        <li> <i class='bx bxs-store'></i></i>Đặt đến lấy
                        </li>
                    </ul>
                </div>

                <div class="contact">
                    <i class='bx bxs-phone'></i>
                    <p>0859414317</p>
                    <i class='bx bxl-gmail'></i>
                    <p>Danghuukhoa110733@gmail.com</p>
                </div>
            </div>
            <div class="about_us">
                <i class='bx bxs-info-square'></i>
                <a href="about_us.html">
                    <p>About us</p>
                </a>
            </div>
        </div>
        <div class="sticky_nav_container">
            <div class="sticky_left_container">
                <a href="../TrangChu.html">
                    <div class="logo">
                        <img src="../Media/img/pizza_logo.png" alt="pizza_logo">
                        <h1>Domino's</h1> <i class='bx bxs-copyright'></i>
                    </div>
                </a>
                <div class="menuPizza">
                    <p><a href="../Templates/MuaHang.html">Combo Pizza</a></p>
                </div>
                <div class="unamed_2">
                    <p><a href="../Templates/menu.html">Menu</a></p>
                </div>
                <div class="Cart">
                    <p><i class='bx bxs-cart-alt'></i><a href="../Templates/cart.html">Cart</a></p>
                </div>
                <div class="User">
                    <p><i class='bx bxs-user'></i><a href="../Templates/login.html">Login</a></p>
                </div>
            </div>
            <div class="sticky_right_container">
            </div>
        </div>
    </header>
    <section class="section" style="margin-inline: 13em;">
        <header>
            <div class="header-title">
                <p>CONTACT</p>
                <p>US</p>
            </div>
            <div class="header-content">
                <p>Tại Domino's Pizza VietNam, chúng tôi luôn đánh giá cao ý kiến phản hồi của bạn để cải thiện sản phẩm
                    và dịch vụ của chúng tôi. Nếu bạn gặp bất kỳ vấn đề nào hoặc có câu hỏi, đề xuất hoặc ý kiến khác về
                    sản phẩm và dịch vụ của chúng tôi, xin vui lòng liên hệ với chúng tôi. Nếu bạn nghĩ rằng chúng tôi
                    đã làm công việc tốt, chúng tôi cũng rất vui khi nghe từ bạn.</p>
            </div>
        </header>
        <section>
            <header>
                <p class="p-italic">Cách để liên lạc với chúng tôi</p>
            </header>
            <section>
                <div class="contact_information">
                    <div class="form-content">
                        <h1>1. Gọi</h1>
                        <p>Liên lạc với chúng tôi thông qua số điện thoại CSKH +84 1111222233</p>
                    </div>
                    <div class="form-content">
                        <h1>2. Gmail</h1>
                        <p>Vui lòng gửi cho chúng tôi một email tới địa chỉ contact.vn@dominos.com.vn. Chúng tôi sẽ cố
                            gắng hết sức để đảm bảo rằng ý kiến phản hồi của bạn sẽ được trả lời càng sớm càng tốt.</p>
                    </div>
                    <div class="form-content">
                        <h1>3. Địa chỉ nhận thư </h1>
                        <p>Domino's Pizza VietNam Pte Ltd
                            7 Phan Huy Ich Street, Ward 15, Tan Binh District
                            Singapore 111222</p>
                    </div>
                </div>
                <div class="feedback-form">
                    <div class="feedback-title">
                        <h1>THƯ PHẢN HỒI CHÂT LƯỢNG</h1>
                        <p>Chúng tôi rất mong được biết ý kiến của bạn về Domino's, sản phẩm và dịch vụ của chúng tôi - cả những điều tốt và không tốt. <br> Nếu bạn đã gặp bất kỳ vấn đề nào với dịch vụ của chúng tôi hoặc nếu bạn nghĩ rằng chúng tôi đã làm công việc tốt, chúng tôi rất mong nhận được phản hồi từ bạn. Vui lòng điền vào mẫu phản hồi trực tuyến <br> dưới đây.</p>
                    </div>
                    <h1 class="your-feeling">TRẢI NGHIỆM CỦA BẠN</h1>
                    <div class="detail-feedback">
                        <div class="date-experience">
                            <h1>Ngày</h1>
                            <input type="text" name="" id="">
                        </div>
                        <div class="date-experience">
                            <h1>Feedback của bạn liên quan tới vấn đề</h1>
                            <select name="choice" id="choice">
                                <option selected = "selected" >Hãy chọn</option>
                                <option >Chất lượng /  bữa ăn </option>
                                <option >Nhân viên / môi trường</option>
                                <option >Đặt hàng online</option>
                                <option >Khác</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <footer>
        <header id="footer_header_container">
            <a href="https://www.facebook.com/DominosPizzaVietnam" style="display: flex;align-items: center;">
                <p>Contact Domino's Pizza VietNam</p>
                <i class='bx bxl-meta'></i>
                <i class='bx bxl-instagram-alt'></i>
                <div class="line_bottom"></div>
            </a>
        </header>
        <main id="footer_main_container">
            <div class="left_content">
                <div class="logo_footer">
                    <a href="TrangChu.html"> <img src="../Media/img/pizza_logo.png" alt="domino'slogo"> </a>
                    <div class="unnameEventError">
                        <i class='bx bxs-phone-call'>Hotline</i>
                        <p>12345567</p>
                    </div>
                </div>
            </div>
            <div class="right_content_container">
                <div class="right_content">
                    <a href="../TrangChu.html">
                        <p>News</p>
                    </a>
                    <a href="../Templates/menu.html">
                        <p>Menu</p>
                    </a>
                    <a href="../Templates/contactUs.html">
                        <p style="cursor: pointer;">Liên hệ</p>
                    </a>
                    <a href="../Templates/MuaHang.html">
                        <p>Combo Khuyến mãi</p>
                    </a>
                </div>
                <div class="certificate_logo">
                    <a href="http://online.gov.vn/Home/WebDetails/9616"> <img src="../Media/img/certificate.png"
                            alt=""></a>
                </div>
            </div>
        </main>
    </footer>
</body>

</html>