<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/style-login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <head>
        <a href="../TrangChu.html">
            <div class="logo">
                <img src="../Media/img/pizza_logo.png" alt="">
            </div>
        </a>
    </head>
    <section>
        <div class="blank_container">
            <div class="blank">
                <h1>Sign in</h1>
                <div class="login-form">
                    <div class="Makima_form">
                        <input id="inp-userName" type="text" required>
                        <div class="label">UserName</div>
                    </div>
                    <div class="Makima_form">
                        <input id="inp-passwd" type="text" required>
                        <div class="label">Password</div>
                    </div>
                </div>
                <div class="login-col-logo">
                    <button class="login-col-logo_Facebook"><i class='bx bxl-facebook-square'></i></button>
                    <button class="login-col-logo_Google"><i class='bx bxl-google'></i></button>
                    <button class="login-col-logo_Apple"><i class='bx bxl-apple'></i></button>
                    <button class="login-col-logo_Twitter"><i class='bx bxl-twitter'></i></button>
                </div>
                <div class="check_login">
                    <input type="checkbox">
                    <label>Stay signed in</label>
                </div>
                <div class="login-button">
                    <button><i class='bx bx-right-arrow-alt'></i></button>
                </div>
                <a href="../Templates/register.html">
                    <p>create account</p>
                </a>
            </div>
        </div>
    </section>
</body>

</html>