<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/style-Register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/js-register.js"></script>
</head>

<body>

    <head>
        <a href="../TrangChu.html">
            <div class="logo">
                <img src="../Media/img/pizza_logo.png" alt="">
            </div>
        </a>
    </head>
    <section>
        <div class="blank_container">
            <div class="blank">
                <h1>Register</h1>
                <div class="login-form">
                    <div class="Makima_form">
                        <input id="inp-Email" type="text" required>
                        <div class="label">Email</div>
                    </div>
                    <div class="Makima_form">
                        <input id="inp-username" type="text" required>
                        <div class="label">UserName</div>
                    </div>
                    <div class="Makima_form">
                        <input id="inp-passwd" type="text" required>
                        <div class="label">Password</div>
                    </div>
                    <div class="Makima_form">
                        <input id="inp-repasswd" type="text" required>
                        <div class="label">Re-Password</div>
                    </div>
                </div>
                <div class="login-button">
                    <button id="btn-check" onclick="onclickCheck()"><i class='bx bx-right-arrow-alt'></i></button>
                </div>
                <a href="../Templates/login.html">
                    <p>Already have Account </p>
                </a>
            </div>
        </div>
    </section>
</body>

</html>